.header {
    overflow: hidden;
    background-color: #082058;
    padding: 20px 10px;
  }
.header img{
  position: absolute;
  width: 80px;
  height: 80px;
}
.header .name{
  position:absolute ;
  padding-left: 100px ;
  color: white;
  font-family: Agbalumo;
  line-height: 15px;
}
.header a {
    float: none;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 15px;
    border-radius: 4px;
    font-family: Agbalumo;
    display: block;
  }
.header a{
    float: left;
    text-align: center;
}
.header a.active {
    background-color: #232323;
    color: white;
  }
.header-right a{
    display: block;
    padding: 15px;
}
  .header .header-right a:hover {
    background-color:  rgba(249, 247, 247, 0.441);
    color: black;
  }
  .header-right{
    padding-top: 20px;
    float: right;
} 
.icon{
    height: 20px;
    overflow: hidden;
    font-weight: bold;
}

.header-right a.icon {
    float: right;
    position: absolute;
    right: 20px;
    top: 50px;
    display: none;
}
main{
    font-family: "Edu TAS Beginner";
    color: #082058;
}
.container{
    position: relative;
    height: 500px;
}
.text-right {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: white;
    opacity: 0.8;
    color: black;
    width: 400px;
    font-size: 35px;
}
.book{
    position: absolute;
    bottom: 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color:#082058;
}
.button-box {
    text-align: center;
}
.weather{
    background-color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.weather p{
    text-align: left;
}
.business{
    background-color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.business p{
    margin-top: 10px;
    text-align: left;
}
img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
p{
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
h1{
    text-align: left;
}
.home-grid {
    display: grid;
    height: auto;
    text-align: center;
}
.home-grid2 {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
#about-me{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 20px;
}
#resources{
    grid-column-start: 3;
    grid-column-end: 3;
    margin-right: 20px;
}
#text_weather{
    grid-column-start: 2;
    grid-column-end: 4;
}
#events{
    grid-column-start: 1;
    grid-column-end: 4;
}
#text_weatherforecast{
    grid-column-start: 1;
    grid-column-end: 4;
}
#text_business{
    grid-column-start: 2;
    grid-column-end: 4;
    padding-bottom: 10px;
}
.icon-weather{
    text-align: center;
    width: 80px;
    height: 80px;
}
.logo_business{
    padding: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
}
#forecast{
    grid-column-start: 4;
    grid-column-end: 4;
    margin-right: 20px;
}
.card{
    grid-column: 3;
    box-shadow: 5px 5px 5px #6f7364;
}
.card h2{
    background-color: #082058;
    color: white;
    padding: 10px;
    margin-top: 0;
}
section .card2{
    margin: 0.5rem auto;
    padding: 0.5rem;
    max-width: 450px;
}
.card2{
    border-radius: 15px 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .75);
}
.card2 h2{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    border-top: 15px;
    border-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #6f7364;;
    color: #082058;
    padding: 10px;
    margin-top: 0;
}
.card2 h3{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: 15px;
    border-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #6f7364;;
    color: #082058;
    padding: 10px;
    margin-top: 0;
}
.card p{
    font-size: 1.2em;
}
.card2 p{
    font-size: 1em;
}
footer {
    font-family: Agbalumo;
    background-color:#082058;
    color: white;
    margin-top: 50px;
    padding: 10px 25px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer div{
    text-align: center;
    padding: 10px;
}
footer p {
    font-family: Agbalumo;
    font-size: 1.2em;
    margin: 0.25rem;
    text-align: left;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: #FAFAFA; 
}
footer img{
    margin-top: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}